

.home__container{
    min-height: 100vh;
    min-width: 100vh;
    background-image: url('../../assets/money-heist1.jpg');
    background-attachment: fixed;
    position: relative;
}   

.home__container::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    background-attachment: fixed;
    position: absolute;
}