.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-dark);
  position: sticky;
  z-index: 2000;
}

.navbar-logo__container img {
  width: 50px;
  height: 50px;
}

.navbar-links__container {
  margin: 0 3rem;
  flex: 1.5;
}

.navbar-links__container ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-family: var(--ff);
  font-weight: 500;
}

.navbar-auth-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-right__container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.navbar-right__container .bell {
  font-size: 20px;
  color: var(--clr-white);
}

.navbar-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-searchbar input {
  padding: 0.3rem;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 16px;
}

.navbar-searchbar .search__icon {
  font-size: 20px;
  position: absolute;
  right: 10px;
}

.navbar-auth__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar-arrow__down .carret__down {
  cursor: pointer;
  font-size: 20px;
  color: var(--clr-white);
  animation: rotate__carret 700ms ease forwards;
}

@keyframes rotate__carret {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0);
  }
}

.navbar-arrow__down #toggle {
  animation: _rotate__carret 700ms ease forwards;
}

@keyframes _rotate__carret {
  100% {
    transform: rotate(-180deg);
  }
}

.navbar-modal__container {
  padding: 1rem;
  background: var(--bg-dark);
  color: var(--clr-white);
  font-family: var(--ff);
  position: absolute;
  right: 1rem;
  bottom: -350%;
  animation: scale__modal 700ms ease forwards;
  z-index: 1000;
}

@keyframes scale__modal {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.navbar-modal__container ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-modal__container ul li {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .navbar-links__container {
    display: none;
  }

  .navbar-right__container {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 400px) {
  .navbar-searchbar input {
    display: none;
  }
}
