@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-variant: #ef4444;
  --clr-white: white;
  --bg-dark: rgba(0, 0, 0, 1);
  --ff: "Open Sans", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}
