


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr-white:white;
  --bg-dark: rgba(0,0,0,1);
  --ff:'Open Sans',
    sans-serif;
  
}


body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


li {
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--clr-white);
}